/* Common */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.wrap {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
}
.main-wrap-btn{
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
body {
  background-image: url(../img/도서관배경-투명도.png);
  background-size: cover;  
}
.btn {
  height: auto;
}
/* tui */
.tui-grid-body-area {
  background-color: transparent !important;
  height: auto  !important;
}
.tui-grid-container{
  font-size: 15px;
  font-family: sans-serif;  
}
.tui-grid-row-header-draggable::after{
  content: "☰";
}
.tui-grid-row-header-draggable>div>span {  
  display: none;
}
/* 가이드 */

.modal-box{
  display: none;
  position: fixed;
  top: 50%;      
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 80%;
  height: 90%;
  border: 1px solid #222;
  border-radius: 1rem;
  background-color: white;  
  z-index: 99;      
}
.close-btn {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.5rem;
  z-index: 1;
}
body:before{
  content: "";
  position: fixed;           
  background-color: #333;
  opacity: .5;
  width: 100%;
  height: 100%;
  display: none;
}
.dark-box:before{
  display: block;
}

.showdiv{
  display: block !important;
}
#mainSwiper {
  position: absolute;
  top: 10%;
  border: 1px solid #333;
  width: 100%;
  height: 80%;
}



/* HEADER */
#hd {
  border-bottom: 1px solid darkblue;
  box-shadow: rgba(149,160,165,.494) 0px 2px 15px;
}

#hd h1 img {
  height: 55px;
  margin: 10px 0 5px;
}
#hd .header-top {
  display: flex;
  justify-content: end; 
}
#hd .guide {
  position: absolute;
  right: 27.5%;
  top: 25px;
  font-weight: bold;
  font-size: 14px;
  /* border: 1px solid #333;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(255, 189, 67); */
}
/* main */
main {
  height: 91vh;
}

img[src="./img/excel.png"] {
  width: 15px;
}
/* footer */
#fd {
  text-align: center;
  font-size: .85rem;
  height: 50px;
}